<section id="middle">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 wow fadeInDown">
          {{{_embedded.6f50736a:static.content}}}
      </div>
      <!--/.col-sm-6-->

      <div class="col-sm-6 wow fadeInDown">
        <div class="accordion">
          <h2>{{{title}}}</h2>
          <div class="panel-group" id="accordion1">
            {{#each _embedded.6f50736a:faq}}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne{{@index}}">
                        {{question}}
                      <i class="fa fa-angle-right pull-right"></i>
                    </a>
                  </h3>
                </div>

                <div id="collapseOne{{@index}}" class="panel-collapse collapse in">
                  <div class="panel-body">
                      {{{answer}}}
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
          <!--/#accordion1-->
        </div>
      </div>

    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section><!--/#middle-->
