

<section id="main-slider" class="no-margin">
  <div class="carousel slide">
    <ol class="carousel-indicators">
      {{#each _embedded.6f50736a:slider}}
        <li data-target="#main-slider" data-slide-to="{{@index}}"{{#if @first}} class="active"{{/if}}></li>
      {{/each}}
    </ol>
    <div class="carousel-inner">
      {{#each _embedded.6f50736a:slider}}
        <div class="item{{#if @first}} active{{/if}}" style="background-image: url({{image}})">
          <div class="container">
            <div class="row slide-margin">
              <div class="col-sm-6">
                <div class="carousel-content">
                  <h1 class="animation animated-item-{{@index}}">{{title}}</h1>

                  <h2 class="animation animated-item-{{@index}}">{{description}}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.item-->
      {{/each}}
    </div>
    <!--/.carousel-inner-->
  </div>
  <!--/.carousel-->
  <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
    <i class="fa fa-chevron-left"></i>
  </a>
  <a class="next hidden-xs" href="#main-slider" data-slide="next">
    <i class="fa fa-chevron-right"></i>
  </a>
</section><!--/#main-slider-->